@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* Aplicamos el gris suave de fondo a TODO */
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white;
}


